<h1>Product Inventory</h1>


<section >
<h4><a id="add-button" href="/products/new"> Add product</a></h4>

<form action="/products" method="get">
  <label id="search" for="manufacturer-select">Manufacturer:</label>
  <select name="manufacturer" id="filter-button">
    <option value=""></option>
    <% @manufacturers.each do |manufacturer| %>
    <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>
  <input id="filter-button" type='submit' value="filter">
  <a id="filter-button" href="/products">clear</a>
</form>

<form action="/products" method="get">
  <label id="search" for="type-select">Type:</label>
  <select name="type" id="filter-button">
    <option value=""></option>
    <% @types.each do |type| %>
    <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>
  <input id="filter-button" type='submit' value="filter">
  <a id="filter-button" href="/products">clear</a>
</form>
</section >


<br>
<table id="inventory-table">
  <tr>
    <th >Key:</th>
    <th class="out-stock">Not in stock</th>
    <th class="low-stock">Low stock (<5)</th>
    <th class="good-stock">Good stock (>5)</th>
  <tr>
</table>
<table id="inventory-table">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Stock Quantity</th>
    <th>Sales Quantity</th>
    <th>Buy Cost</th>
    <th>Sell Price</th>
    <th>Mark up</th>
    <th>Manufacturer</th>
    <th>Type</th>
  </tr>

  <%  @products.each do |product| %>
  <tr class=<% if product.stock_qty == 0 %>
    <%="out-stock"%>
    <% elsif product.stock_qty <= 5 %>
    <%="low-stock"%>
    <% elsif product.stock_qty >= 5 %>
    <%="good-stock"%>
    <% end %>>
    <td><a href="/products/<%= product.id %>/edit">Edit</a></td>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td><%= product.stock_qty %></td>
    <td><%= product.sales_qty %></td>
    <td>£<%= sprintf("%.2f", product.buy_cost) %></td>
    <td>£<%= sprintf("%.2f", product.sell_price) %></td>
    <td>£<%= sprintf("%.2f", (product.sell_price - product.buy_cost)) %></td>
    <td><a href="/manufacturers/<%= product.manufacturer_id %>/"><%= product.manufacturer %></a></td>
    <td><%= product.type %></td>
  </tr>
    <% end %>
  </table>
  <h4><a id="add-button" href="/products/new"> Add product</a></h4>
