<h1>Products</h1>

<table>
  <tr>
    <th>Name</th>
    <td>|</td>
    <th>Stock Quantity</th>
    <td>|</td>
    <th>Sales Quantity</th>
    <td>|</td>
    <th>Buy Cost</th>
    <td>|</td>
    <th>Sell Price</th>
    <td>|</td>
    <th>Manufacturer</th>
  </tr>

  <%  @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td>|</td>
    <td><%= product.stock_qty %></td>
    <td>|</td>
    <td><%= product.sales_qty %></td>
    <td>|</td>
    <td><%= product.buy_cost %></td>
    <td>|</td>
    <td><%= product.sell_price %></td>
    <td>|</td>

  </a>

  <td><a href='/manufacturers/<%= product.manufacturer_id %>/'><%= product.manufacturer %></a></td>
</tr>
<% end %>
</table>
<h4><a href="/products/new"> Add product</a></h4>
