<h1>Product Inventory</h1>

<h4><a href="/products/new"> Add</a></h4>

<form action="/products" method="get">
  <label for="manufacturer-select">Filter by manufacturer</label>
  <select name="manufacturer" id="manufacturer-select">
    <option value=""></option>
    <% @manufacturers.each do |manufacturer| %>
    <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>
  <input class="btn btn--action" type='submit' value="filter">
  <a href="/products">clear</a>
</form>

<br>
<table>
  <tr>
    <th >Key:</th>
    <th>|</th>
    <th class="out-stock">Not in stock</th>
    <th>|</th>
    <th class="low-stock">Low stock (<5)</th>
    <th>|</th>
    <th class="good-stock">Good stock (>5)</th>
  <tr>
</table>
<table>
  <tr>
    <th>Modify</th>
    <td>|</td>
    <th>Name</th>
    <td>|</td>
    <th>Stock Quantity</th>
    <td>|</td>
    <th>Sales Quantity</th>
    <td>|</td>
    <th>Buy Cost</th>
    <td>|</td>
    <th>Sell Price</th>
    <td>|</td>
    <th>Mark up</th>
    <td>|</td>
    <th>Manufacturer</th>
    <td>|</td>
  </tr>

  <%  @products.each do |product| %>
  <tr>
    <td><a href="/products/<%= product.id %>/edit">Edit</a></td>
    <td>|</td>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td>|</td>
    <td class=<% if product.stock_qty == 0 %>
      <%="out-stock"%>
      <% elsif product.stock_qty <= 5 %>
      <%="low-stock"%>
      <% elsif product.stock_qty >= 5 %>
      <%="good-stock"%>
      <% end %>>
      <%= product.stock_qty %>
    </td>
    <td>|</td>
    <td><%= product.sales_qty %></td>
    <td>|</td>
    <td><%= product.buy_cost %></td>
    <td>|</td>
    <td><%= product.sell_price %></td>
    <td>|</td>
    <td><%= product.sell_price - product.buy_cost %></td>
    <td>|</td>

    <td><a href="/manufacturers/<%= product.manufacturer_id %>/"><%= product.manufacturer %></a></td>
    <td>|<td>


    </tr>
    <% end %>
  </table>
  <h4><a href="/products/new"> Add</a></h4>
